<launch>
#  hard coded path
   <arg name="output_dir" default="$(env GRASPIT)/output"/>
   <arg name="default_dir" default="$(env GRASPIT)"/>
   <arg name="world" default="empty"/>
   <arg name="robot" default="panda"/>
   <arg name="object" default="5"/>
   <arg name="max_plan_iter" default="60000"/>
   <arg name="max_plan_result" default="5"/>
   <arg name="iter_count" default="5"/>
   <arg name="mat_file" default="/capri/YCB_Video_Dataset/data/0040/000001-meta.mat" />
    <node name="graspit_pose" pkg="graspit_pose" type="graspit_pose" respawn="false" required="true"
      args="$(arg output_dir) $(arg world) $(arg max_plan_iter)  $(arg max_plan_result) $(arg default_dir) $(arg object) $(arg robot) $(arg iter_count) $(arg mat_file)"
      output="screen">
      <param name="output_dir" value="$(arg output_dir)"/>
      <param name="default_dir" value="$(arg default_dir)"/>
      <param name="world" value="$(arg world)"/>
      <param name="robot" value="$(arg robot)"/>
      <param name="object" value="$(arg object)"/>
      <param name="max_plan_iter" value="$(arg max_plan_iter)"/>
      <param name="max_plan_result" value="$(arg max_plan_result)"/>
      <param name="iter_count" value="$(arg iter_count)"/>
      <param name="mat_file" value="$(arg mat_file)"/>
    </node>
</launch>
